VITE_SUPABASE_URL=https://ymcfmbwltlhdnjzbofkh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InltY2ZtYndsdGxoZG5qemJvZmtoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE5NDQ2MDMsImV4cCI6MjA5NzUyMDYwM30.1SOwUbtNF9Y1t_ixqI4OyL30xhiQa6P-F7Hi9BIbwZ8
VITE_CLOUDINARY_CLOUD_NAME=dhrntytra
VITE_CLOUDINARY_UPLOAD_PRESET=antilabs_preset
