CREATE OR REPLACE FUNCTION public.check_email_exists(p_email text) RETURNS boolean LANGUAGE plpgsql SECURITY DEFINER AS \$\$ BEGIN RETURN EXISTS (SELECT 1 FROM auth.users WHERE email = p_email); END; \$\$;
