CREATE OR REPLACE FUNCTION public.get_judge_data() RETURNS TABLE( auth_id uuid, full_name text, mobile_number text, dob date, gender text, unique_user_code text, profile_photo jsonb, created_at timestamptz, email text, team_id uuid, team_name text, unique_team_code text, captain_id uuid, payment_status text, cashfree_order_id text, college_name text, degree text, branch text, year_of_study text, graduation_year text, github_link text, linkedin text, portfolio text, resume_link text ) LANGUAGE sql SECURITY DEFINER AS \$\$ SELECT p.auth_id, p.full_name, p.mobile_number, p.dob, p.gender, p.unique_user_code, p.profile_photo, p.created_at, u.email::text, t.id AS team_id, t.name AS team_name, t.unique_team_code, t.captain_id, t.payment_status, t.cashfree_order_id, a.college_name, a.degree, a.branch, a.year_of_study, a.graduation_year, tech.github_link, tech.linkedin, tech.portfolio, tech.resume_link FROM hacklabs_personal_details p LEFT JOIN auth.users u ON p.auth_id = u.id LEFT JOIN hacklabs_teams t ON p.team_id = t.id LEFT JOIN hacklabs_academic_info a ON p.auth_id = a.auth_id LEFT JOIN hacklabs_technical_info tech ON p.auth_id = tech.auth_id; \$\$;
