CREATE TABLE IF NOT EXISTS public.hacklabs_support_queries ( id uuid DEFAULT gen_random_uuid() PRIMARY KEY, name text NOT NULL, email text NOT NULL, subject text NOT NULL, description text NOT NULL, status text DEFAULT 'open', created_at timestamptz DEFAULT now() ); ALTER TABLE public.hacklabs_support_queries ENABLE ROW LEVEL SECURITY; CREATE POLICY \
Allow
public
insert\ ON public.hacklabs_support_queries FOR INSERT WITH CHECK (true); CREATE POLICY \Allow
judges
read\ ON public.hacklabs_support_queries FOR SELECT USING (public.is_hacklabs_judge()); CREATE POLICY \Allow
judges
update\ ON public.hacklabs_support_queries FOR UPDATE USING (public.is_hacklabs_judge());
CREATE OR REPLACE FUNCTION public.preview_team_by_code(p_team_code text)
RETURNS TABLE (
    id uuid,
    name text,
    unique_team_code text,
    captain_name text,
    member_names text[]
)
SECURITY DEFINER
AS $$
BEGIN
    RETURN QUERY
    SELECT 
        t.id,
        t.name,
        t.unique_team_code,
        c.full_name AS captain_name,
        ARRAY(
            SELECT p.full_name 
            FROM hacklabs_personal_details p 
            WHERE p.team_id = t.id AND p.auth_id != t.captain_id
        ) AS member_names
    FROM hacklabs_teams t
    LEFT JOIN hacklabs_personal_details c ON t.captain_id = c.auth_id
    WHERE t.unique_team_code = p_team_code;
END;
$$ LANGUAGE plpgsql;
