.robot-transition {
  position: fixed;
  inset: 0;

  pointer-events: none;
  z-index: 99999;
}

.robot-transition-inner {
  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  font-size: 160px;

  animation: robotFlyHome 1.8s forwards;
}
@keyframes robotFlyHome {
  0% {
    left: 30%;
    top: 45%;
    scale: 0.6;
  }

  100% {
    left: 70%;
    top: 40%;
    scale: 0.6;
  }
}

.hacklabs-page {
  animation: heroReveal 0.8s ease;
}

.hacklabs-logo-fly {
  position: fixed;

  left: 50%;
  top: 50%;

  width: 240px;

  transform: translate(-50%, -50%);

  animation: flyToNavbar 1.2s ease forwards;

  z-index: 100000;
}
@keyframes flyToNavbar {
  0% {
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    left: 0px;
    top: 0px;

    transform: translate(0, 0) scale(0.6);
  }
}
