@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.phases-section {
  width: 95%;
  max-width: 1050px;
  margin: 30px auto;
  color: white;
  font-family: "Zen Dots", sans-serif;
  margin-bottom: 100px;
}

.phases-section .heading {
  color: white;
  font-family: "Zen Dots", sans-serif;

  text-align: center;
  font-size: 58px;
  font-weight: 400;
  margin-bottom: 35px;
}

.phases-container {
  display: grid;
  grid-template-columns: 310px 1fr;
  border: 1px solid rgba(255, 255, 255, 0.4);
  min-height: 435px;
}

.left-panel {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.phase {
  height: 145px;
  display: flex;
  align-items: center;
  gap: 14px;
  padding-left: 28px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.45);
  font-size: 27px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  transition: 0.3s;
}

.phase:last-child {
  border-bottom: none;
}

.phase:hover {
  background: #0d0d0d;
  color: rgba(255, 255, 255, 0.75);
}

.phase.active {
  background: #111;
  color: #fff;
}

.dot {
  font-size: 35px;
  opacity: 0.45;
  transition: 0.3s;
}

.phase.active .dot {
  opacity: 1;
}

.right-panel {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-panel p {
  font-size: 19px;
  line-height: 2;
  margin-bottom: 10px;
  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .phases-section {
    width: 95%;
  }

  .phases-section .heading {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .phases-container {
    display: flex;
    flex-direction: column;
    min-height: auto;
  }

  .left-panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }

  .phase {
    height: 80px;
    padding: 0;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    gap: 0;
    border-bottom: none;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
  }

  .phase:last-child {
    border-right: none;
  }

  .dot {
    display: none;
  }

  .phase.active {
    background: #0d0d0d;
    color: #fff;
  }

  .right-panel {
    padding: 28px 24px;
    justify-content: flex-start;
  }

  .right-panel p {
    font-size: 18px;
    line-height: 2.1;
    margin-bottom: 8px;
  }
}
